/target

."one of the items I b ought here.
for more than a week. hasn't even been flagged for shipping. what kind of thing is this. I have complained here and nothing. the time I needed it has passed and till date no update. if you guys are not going to ship my item. then initaite a refund. what is this?
here's the order number
1966657282"